<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--"COM6",9600,Parity.None,8,StopBits.One-->
		<add key="CommPort" value="/dev/ttyUSB0"/>
		<add key="BaudRate" value="9600"/>
		<add key="Parity" value="None"/> <!--None,Odd,Even,Mark,Space-->
		<add key="DataBits" value="8"/>
		<add key="StopBits" value="One"/> <!--None,One,Two,OnePointFive-->
	</appSettings>
</configuration>